# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Static files (se o collectstatic gera essa pasta)
staticfiles/

# Ambiente virtual
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Configurações e variáveis de ambiente
.env
*.env
*.log

# Distribuição / build
build/
dist/
*.egg-info/
.eggs/

# Cache / testes
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/

# IDEs / editores
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# Sistema
.DS_Store
Thumbs.db

# Outras ferramentas
.mypy_cache/
.pyre/
.pytype/
.ruff_cache/
cython_debug/
