/* Preocupe-se com performance */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --blue-70: hsl(223, 30%, 45%);
    --m-blue-90: hsl(219, 42%, 52%);
    --m-blue-100: hsl(226, 84%, 62%);
    --blue-80: hsl(220, 40%, 50%);
    --m-gray-100: rgb(217, 217, 217);
    --gray-90: rgb(180, 180, 180);
    --m-gray-80: rgb(152, 152, 152);
}

html{
    background: repeating-linear-gradient(to bottom right, hsl(220 20% 97%), hsl(220 20% 90%));
}

*{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* buttons */

.pr-blue-btn{
    background-color: var(--m-blue-90);
    color: white;
}
.pr-blue-btn:hover{
    background-color: var(--blue-70);
    color: var(--m-gray-100);
}
.pr-blue-btn:active{
    background-color: var(--m-blue-100);
    color: white;
}

.sr-blue-btn{
    background-color: var(--m-blue-100);
    color: white;
}
.sr-blue-btn:hover{
    background-color: var(--blue-80);
    color: white;
}
.sr-blue-btn:active{
    background-color: var(--blue-100);
    color: white;
}

.pr-gray-btn{
    background-color: var(--m-gray-100);
    color: black;
}
.pr-gray-btn:hover{
    background-color: var(--gray-90);
    color: black;
}
.pr-gray-btn:active{
    background-color: var(--m-gray-80);
    color: black;
}

.sr-gray-btn{
    background-color: var(--m-gray-80);
    color: white;
}
.sr-gray-btn:hover{
    background-color: var(--gray-90);
    color: var(--gray-80);
}
.sr-gray-btn:active{
    background-color: var(--gray-100);
    color: white;
}